{
  "extends": [
    "airbnb-base"
  ],
  "parser": "babel-eslint",
  "env": {"mocha": true},
  "rules": {"comma-dangle": ["error", "never"],
    "complexity": ["error", {"max": 4}],
    "handle-callback-err": "error",
    "import/default": "off",
    "import/order": ["error", {"newlines-between": "always"}],
    "max-statements": ["error", 30],
    "no-console": "off",
    "no-constant-condition": "error",
    "no-param-reassign": ["error", {"props": false}],
    "no-process-exit": "error",
    "no-useless-call": "error",
    "no-unused-expressions": "off",
    "no-trailing-spaces": "off",
    "no-use-before-define": "off",
    "one-var-declaration-per-line": "off",
    "semi": ["error", "always"],
    "padded-blocks": "off",
    "max-len": ["error", { "code": 150 }],
    "indent": 2,
    "quotes": "off",
    "one-var": "off"
  }
}